.kuaixun{
	font-weight: 700;
}
.kuaixun:hover{
	color: #0c7ff2;
}
.kuai{
	background: #fff;
}
.kuai a:hover{
	color: #0c7ff2;
}
.kuai_title{
	width: 100%;
	height: 59px;
	background:#f7f8fa;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
} 
.kuai_title .s{
	width: 1200px;
	line-height: 58px;
	margin: 0 auto;
} 
.kuai_title .s .a{
	color:#1482f0;
	border-bottom: 2px solid#1482f0;
}
.kuai_title .s a{
	float: left;
	margin: 0 20px;
	display: block;
	font-size: 16px;
}
.k_t_nr{
	margin: 0 auto;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 1200px;
	padding: 0 0 30px;
}
.k_t_n_left{
	width: 800px;
}
.k_t_n_left .tit{
	width: 760px;
	margin-bottom: 20px;
}
.k_t_n_left .tit a{
	display: inline-block;
	margin-right: 45px;
}
.k_t_n_left .tit a.active{
	color: #1482f0;
}
.k_t_n_left .nr7 .nenrong{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}
.k_t_n_left .nr7 .nenrong .tiem .dian{
	position: relative;
	top: 6px;
	display: inline-block;
	margin: 5px 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #878787;
}
.k_t_n_left .nr7 .nenrong .tiem .shi{
	display: inline-block;
	margin-left: 15px;
	padding-right: 5px;
	position: relative;
	background-color: #f0f0f0;
	height: 100%;
	color: #212121;
	font-size: 14px;
	line-height: 20px;
}
.k_t_n_left .nr7 .nenrong .tiem .shi::before{
	position: absolute;
	content: "";
	left: -20px;
	top: 0;
	border: 10px solid
	transparent;
	border-right-color: #f0f0f0;
	font-size: 14px;
	line-height: 20px;
}
.k_t_n_left .nr7 .nenrong .baios{
	padding: 32px 0 20px;
	display: block;
	font-size: 16px;
	color:#212121;
	font-weight: 700;
}
.k_t_n_left .nr7 .nenrong h3{
	overflow: hidden;
	width: 100%;
	color:
	#757575;
	font-size: 14px;
	line-height: 26px;
	word-break: break-all;
	word-wrap: break-word;
	text-align: justify;
}
.k_t_n_left .nr7 .li{
	position: relative;
	text-align: right;
}
.k_t_n_left .nr7 .li p{
	margin-left: 35px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color:
	#c9c9c9;
}
.k_t_n_left .nr7 .li p.shang{
	background: url(https://news.huoxing24.com/build/icon-flash-up-def-6f0893c1.svg) no-repeat 0;
	background-size: auto 20px;
}
.k_t_n_left .nr7 .li p.xia{
	background: url(https://news.huoxing24.com/build/icon-flash-down-def-52235ff4.svg) no-repeat 0;
	background-size: auto 20px;
}
.k_t_n_left .nr7 .li p span{
	padding-left: 22px;
}
.duo{
	margin-top: 20px;
	border: 1px solid #eee;
	display: block;
	height: 52px;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
	 cursor:pointer;
}
.k_t_n_right{
	width: 360px;
}
.k_t_n_right .you{
	margin-bottom: 20px;
	padding: 20px 20px 0;
	background:#fff;
	border: 1px solid #eee;
	border-top: 2px solid #0c7ff2;
}
.k_t_n_right .you .tit{
	padding: 0 0 15px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.k_t_n_right .you .tit h5{
	color:#222;
	font-size: 16px;
	font-weight: 700;
}
.yourr .as{
	color: #212121;
}
.yourr .as h4{
	margin-bottom: 10px;
	color:#999;
	font-size: 14px;
	font-weight: 400;
}
.yourr .as a{
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.yourr .as a h3{
	margin-bottom: 8px;
	color:#222;
    font-size: 14px;
    line-height: 20px;
}
.yourr .as a .yin{
	max-height: 0;
	-webkit-transition: max-height .3s ease-in 0s;
	transition: max-height .3s ease-in 0s;
	overflow: hidden;
}
.yourr .as a .yin .zi{
	padding: 5px 10px;
	background-color:
	#f7f8fa;
	color:
	#888;
	line-height: 28px;
	word-break: break-all;
	text-align: justify;
}
.yourr .as a:hover .yin{
	max-height:1000000px;
} 
.k_t_n_left .nr7 .nenrong div.index .dian{
	background-color:#ff7f41;
	color:#fff;
}
.k_t_n_left .nr7 .nenrong div.index .shi::before{
	border-right-color: #ff7f41;
}
.k_t_n_left .nr7 .nenrong div.index .shi{
	background-color:#ff7f41;
	color:#fff;
}
#as{
	color: #ff7f41;
}